.btn-warning{
    background-color: #4e73dc !important;
    border-color: #4e73dc;
}
.alert-product{
    color: #e94918 !important;
}

.btn-login{
    background-color: #128ea3;
    border-color: #128ea3;
    text-transform: uppercase;
}