{% extends "base.html" %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <p class="mb-2 text-gray-500">Sama Stock / Liste des Catégories</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <a href="{{ url_for('add_categorie') }}" class="btn btn-primary">Ajouter Catégorie</a>
        </div>        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Date de Création</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for categorie in categories %}
                        <tr>
                            <td>{{ categorie['nom'] }}</td>
                            <td>{{ categorie['date_creation'].strftime('%Y-%m-%d') }}</td>
                            <td>{{ categorie['statut'] }}</td>
                            <td>
                                <a title="Modifier" href="{{ url_for('get_edit_categorie', categorie_id=categorie['_id']) }}" class="btn btn-warning btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <button title="Archiver" class="btn btn-danger btn-sm" onclick="confirmArchive('{{ categorie['_id'] }}')">
                                    <i class="fas fa-archive"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#dataTable').DataTable(); // Initialisation de DataTable
    });

    function confirmArchive(categorieId) {
        Swal.fire({
            title: 'Êtes-vous sûr?',
            text: "Vous allez archiver cette catégorie!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Oui, archiver!',
            cancelButtonText: 'Annuler'
        }).then((result) => {
            if (result.isConfirmed) {
                // Si l'utilisateur confirme, faire une requête AJAX pour archiver la catégorie
                fetch(`/archive_categorie/${categorieId}`, {
                    method: 'POST'
                })
                .then(response => {
                    if (response.ok) {
                        // Afficher un message de succès avec SweetAlert
                        Swal.fire({
                            title: 'Archivé!',
                            text: 'La catégorie a été archivée avec succès.',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            // Recharger la page après avoir affiché le message de succès
                            window.location.reload();
                        });
                    } else {
                        Swal.fire('Erreur', 'Cette catégorie est déjà archivée.', 'error');
                    }
                })
                .catch(error => {
                    Swal.fire('Erreur', 'Une erreur réseau est survenue.', 'error');
                });
            }
        });
    }
</script>

{% endblock %}
