{% extends "base.html" %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <p class="mb-2 text-gray-500">Sama Stock / Tableau de bord</p>
        <a href="{{ url_for('generate_report') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Rapport mensuel</a>
    </div>

    <!-- Content Row -->
<div class="row">

    <!-- Total des produits -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Nombre de produits</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_produits }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-boxes fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Produits en faible quantité -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Nombre de produits en faible quantité</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ produits_faible_quantite }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-exclamation-triangle fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total des ventes -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Nombre de ventes</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_ventes }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-shopping-cart fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Second Row -->
<div class="row">

    <!-- Chiffre d'affaires total -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Chiffre d'affaires total</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ chiffre_affaires_total }} F CFA</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Montant total des achats -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Montant total des dépenses</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ montant_total_achats }} F CFA</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-coins fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bénéfice total -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Bénéfice total</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ benefice_total }} F CFA</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
<!-- End of Main Content -->

<div class="container-fluid">

    <!-- Row for Monthly Sales and Purchases -->
    <div class="row">
        <!-- Chart for Monthly Sales vs Purchases -->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Répartition par mois</h6>
                </div>
                <div class="card-body">
                    <canvas id="monthlySalesChart"></canvas>
                </div>
            </div>
        </div>

        <!-- Chart for Daily Sales -->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Evolution du chiffre d'Affaires par jour</h6>
                </div>
                <div class="card-body">
                    <canvas id="dailyRevenueChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Row for Top Selling and Profitable Products -->
    <div class="row">
        <!-- Chart for Top Selling Products -->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Top 5 des produits les plus vendus</h6>
                </div>
                <div class="card-body">
                    <canvas id="topSellingProductsChart"></canvas>
                </div>
            </div>
        </div>

        <!-- Chart for Top Profitable Products -->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Top 5 des produits produits les plus rentables</h6>
                </div>
                <div class="card-body">
                    <canvas id="topProfitableProductsChart"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    const caParMois = {{ ca_par_mois | tojson }};
    const achatsParMois = {{ achats_par_mois | tojson }};
    const produitsLesPlusVendus = {{ produits_les_plus_vendus | tojson }};
    const produitsRentables = {{ produits_rentables | tojson }};
    const caParJour = {{ ca_par_jour | tojson }};

    // Graphique des ventes et achats par mois
    const monthlySalesChart = document.getElementById('monthlySalesChart').getContext('2d');
    new Chart(monthlySalesChart, {
        type: 'bar',
        data: {
            labels: caParMois.map(item => item['_id']), // Mois
            datasets: [{
                label: 'Chiffre d\'Affaires',
                data: caParMois.map(item => item['total_ventes']),
                backgroundColor: 'rgba(75, 192, 192, 0.6)',
            }, {
                label: 'Dépenses',
                data: achatsParMois.map(item => item['total_achats'] ? item['total_achats'] : 0),
                backgroundColor: 'rgba(255, 99, 132, 0.6)',
            }, {
                label: 'Bénéfice',
                data: caParMois.map((item, index) => {
                    const totalVentes = item['total_ventes'];
                    const totalAchats = achatsParMois[index] ? achatsParMois[index]['total_achats'] : 0;
                    return totalVentes - totalAchats;
                }),
                backgroundColor: 'rgba(255, 206, 86, 0.6)',
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Graphique du chiffre d'affaires par jour
    const dailyRevenueChart = document.getElementById('dailyRevenueChart').getContext('2d');
    new Chart(dailyRevenueChart, {
        type: 'line',
        data: {
            labels: caParJour.map(item => item['_id']), // Date
            datasets: [{
                label: 'Chiffre d\'Affaires',
                data: caParJour.map(item => item['total_ventes']),
                borderColor: 'rgba(75, 192, 192, 1)',
                fill: false,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Graphique des produits les plus vendus
    const topSellingProductsChart = document.getElementById('topSellingProductsChart').getContext('2d');
    new Chart(topSellingProductsChart, {
        type: 'bar',
        data: {
            labels: produitsLesPlusVendus.map(item => item['nom']), // Nom du produit
            datasets: [{
                label: 'Total Vendu',
                data: produitsLesPlusVendus.map(item => item['total_vendu']),
                backgroundColor: 'rgba(75, 192, 192, 0.6)',
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Graphique des produits rentables
    const topProfitableProductsChart = document.getElementById('topProfitableProductsChart').getContext('2d');
    new Chart(topProfitableProductsChart, {
        type: 'bar',
        data: {
            labels: produitsRentables.map(item => item['nom']), // Nom du produit
            datasets: [{
                label: 'Chiffre d\'Affaires',
                data: produitsRentables.map(item => item['total_revenue']),
                backgroundColor: 'rgba(255, 206, 86, 0.6)',
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}